<h1>Exame dos nervos periféricos</h1>

<%= render 'partials/avaliacao_clinica/exame_fisico/form_nervos_perifericos', :url => alocacao_nervos_perifericos_path, :voltar => alocacao_exame_fisico_path %>
