<div class="breadcrumb">
	<ul class="breadcrumb">
		<li>
			<span class="glyphicon glyphicon-home"></span>
			<%= link_to 'Principal', root_path %><span class="divider"></span>
		</li>
		<li>
			<%= link_to 'Alocação', alocacao_path %><span class="divider"></span>
		</li>
		<li class="active">Dispensação de medicamentos</li>
	</ul>
</div>

<h1>Dispensação de medicamentos</h1>

<%= render 'partials/escolher_voluntario_dispensacao', :execucao => false %>

<% unless session[:voluntario].blank? %>
  <%= render 'partials/form_dispensacao', :url => alocacao_salvar_dispensacao_path, :voltar => alocacao_path %>
<% end %>