<h1>Randomizar voluntários</h1>

<ul class="unstyled list">
  <li><%= link_to 'Critérios I/E da randomização', alocacao_criterios_path %></li>
  <li><%= link_to 'Avaliação clínica de randomização', alocacao_new_avaliacao_clinica_path %></li>
  <li><%= link_to 'Segregar grupos', alocacao_grupos_path %></li>
</ul>
<div class="clear"></div>

<%= link_to 'Voltar', alocacao_path, :class => 'btn' %>