<fieldset>

  <!-- <h2>Questionário do doente</h2> -->

  <div class="row">

    <div class="span5">
      
      <div class="control-group">
        <div class='controls'>
          <%= f.label :descricao, 'Laudo' %>
          <%= f.text_area :descricao, :rows => 5, "data-validate" => "validate(required) on(blur change)" %>
        </div>
      </div>
      
    </div><!--end span5-->
    
  </div><!--end row-->
  
  <h2></h2>
</fieldset>
