body{
  padding-top:60px;
}

.clear{
  clear:both;
}

h1, h2, h3, h4, h5, h6{
  margin-bottom:20px;
}

.list li{
  margin-bottom:10px;
}

.horizontal-list{
  margin-left: 3% !important;
}
.horizontal-list li{
  float: left;
  list-style: none outside none;
  margin-right: 3%;
  margin-top:5px;
}

.desc_princ{
  font-size:16px;
  margin-bottom:20px;
}

.field_with_errors {
  padding: 2px;
  color: red;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

p{
  margin:10px 0;
}

.info h1, .info label{
  float: left;
  margin-right: 2%;
}

form fieldset h2{
  border-bottom: 2px dotted #CCC;
  font-size: 18px;
  margin-top: 10px;
}

.h2_show{
  border-bottom: 2px dotted #CCC;
  font-size: 18px;
  margin-top: 30px;
}

.btn_choose{
  margin-top: 20px;
}

.upload_field{
  margin-top: 15px;
  margin-bottom: 15px;
}

.div_icones_interno {
	margin: 50px 0px 50px 0px;
	display:block;
	height: 100px;
}

.div_icones {
	margin: 50px 0px 50px 0px;
	display:block;
	height: 100px;
}

.icones_principal {
	list-style-type: none;
	margin-left: 100px;
}

.item_icone {
	float:left;
	margin: 0px 50px 0px 0px;
	text-align: center;
}

.rodape {
	border-top: 2px dashed #eee;
	padding: 20px;
	margin: 50px 0px 100px 0px;
	text-align: center;
}


.glyphicon-question-sign {
	margin-top: 20px;
	background-color: #7099bc;
	color: white;
}

.msg_tabela_vazia {
	text-align: center;
	background-color: #ffe;
	padding: 10px;
}

.form-actions {
	margin: 20px;
	padding: 20px;
}