<h1>Neurofisiologia</h1>

<ul class="unstyled horizontal-list">
  <li><%= link_to 'ENMG', selecao_enmg_path %></li>
  <li><%= link_to 'CHEPS', selecao_cheps_path %></li>
  <li><%= link_to 'QST', selecao_qst_path %></li>
  <div class="clear"></div>
</ul>

<%= link_to 'Voltar', selecao_menu_path, :class => 'btn' %>