<div class="breadcrumb">
	<ul class="breadcrumb">
		<li>
			<span class="glyphicon glyphicon-home"></span>
			<%= link_to 'Principal', root_path %><span class="divider"></span>
		</li>
		<li>
			<%= link_to 'Pré-Seleção', pre_selecao_path %><span class="divider"></span>	
		</li>
		<li class="active">Nova agenda</li>
	</ul>
</div>

<h1>Nova agenda</h1>

<%= render 'form', :voltar => agendas_path %>
