<div class="row">

  <div class="span9">

    <div class="control-group">
      <p><b>Laudo:</b></p>
      <div class='controls'>
        <%= @dados.descricao %>
      </div>
    </div>

  </div>


</div><!--end row-->