<div class="modal fade-out fade-in" id="modalNovoCliente" tabindex="-1" role="dialog" aria-labelledby="modalHeader" aria-hidden="true" style="display: none">

  <%= image_tag @laudos.last.imagem.url%>
  
</div>