<h1>Exame do tônus muscular</h1>

<%= render 'partials/avaliacao_clinica/exame_fisico/form_tonus_muscular', :url => encerramento_salvar_tonus_muscular_path, :voltar => encerramento_exame_fisico_path %>
