<h1>Revisar biópsia</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @biopsia %>
  <div>
    <%= exibir_pdf_ou_imagem(@biopsia)%>
  </div>
<% else %>
  <p>A biópsia deste voluntário não foi registrada.</p>
<% end %>

<%= link_to 'Voltar', analisar_prontuarios_path, :class => 'btn' %>