<h1>Verificar DN4</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @dn4 %>
  <div>
    <%= exibir_pdf_ou_imagem(@dn4)%>
  </div>
<% else %>
  <p>O DN4 deste voluntário não foi registrado.</p>
<% end %>

<%= link_to 'Voltar', show_questionarios_path, :class => 'btn' %>