<h1>Verificar função hepática</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @hepatica %>
  <div>
    <%= exibir_pdf_ou_imagem(@hepatica)%>
  </div>
<% else %>
  <p>A função hepática deste voluntário não foi registrada.</p>
<% end %>

<%= link_to 'Voltar', show_exames_path, :class => 'btn' %>