<h1>Verificar hemograma completo</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @hemograma %>
  <div>
    <%= exibir_pdf_ou_imagem(@hemograma)%>
  </div>
<% else %>
  <p>O hemograma deste voluntário não foi registrado.</p>
<% end %>

<%= link_to 'Voltar', show_exames_path, :class => 'btn' %>