<h1>Verificar LANSS</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @lanss %>
  <div>
    <%= exibir_pdf_ou_imagem(@lanss)%>
  </div>
<% else %>
  <p>O LANSS deste voluntário não foi registrado.</p>
<% end %>

<%= link_to 'Voltar', show_questionarios_path, :class => 'btn' %>