<h1>Verificar mini mental</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @mini_mental %>
  <div>
    <%= exibir_pdf_ou_imagem(@mini_mental)%>
  </div>
<% else %>
  <p>O mini mental deste voluntário não foi registrado.</p>
<% end %>

<%= link_to 'Voltar', show_questionarios_path, :class => 'btn' %>