<h1>Verificar mini mental</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @mini_mental %>
  <div>
    <%= image_tag @mini_mental.imagem.url %>
  </div>
<% else %>
  <p>O mini mental deste voluntário não foi registrado.</p>
<% end %>

<%= link_to 'Voltar', show_questionarios_path, :class => 'btn' %>