<h1>Verificar PPD</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @ppd %>
  <div>
    <%= exibir_pdf_ou_imagem(@ppd)%>
  </div>
<% else %>
  <p>O PPD deste voluntário não foi registrado.</p>
<% end %>

<%= link_to 'Voltar', show_exames_path, :class => 'btn' %>