<h1>Verificar QST</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @qst %>
  <div>
    <%= exibir_pdf_ou_imagem(@qst)%>
  </div>
<% else %>
  <p>O QST deste voluntário não foi registrado.</p>
<% end %>

<%= link_to 'Voltar', show_neurofisiologia_path, :class => 'btn' %>