<h1>Verificar SF36</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @sf36 %>
  <div>
    <%= exibir_pdf_ou_imagem(@sf36)%>
  </div>
<% else %>
  <p>O SF36 deste voluntário não foi registrado.</p>
<% end %>

<%= link_to 'Voltar', show_questionarios_path, :class => 'btn' %>