<h1>Verificar urinocultura</h1>

<%= render 'partials/escolher_voluntario', :usuario => false %>

<% if @urinocultura %>
  <div>
    <%= exibir_pdf_ou_imagem(@urinocultura)%>
  </div>
<% else %>
  <p>A urinocultura deste voluntário não foi registrada.</p>
<% end %>

<%= link_to 'Voltar', show_exames_path, :class => 'btn' %>