<% if @exame_complemento %>
  <div class="panel-body" id="coordenacao">

    <p>
      <b>Coordenação:</b>
      <%= @exame_complemento.coordenacao %>
    </p>

  </div>
<% else %>
  <p>Os exames complementares deste voluntário não foram aplicados.</p>
<% end %>