<% if @exame_complemento %>
  <div class="panel-body" id="esfincteres">
    <p>
      <b>Esfíncteres:</b>
      <%= @exame_complemento.esfincteres %>
    </p>
  </div>
<% else %>
  <p>Os exames complementares deste voluntário não foram aplicados.</p>
<% end %>