<h1>Administrativo</h1>

<ul class="unstyled list">
  <li><%= link_to 'Lista de centros', centros_path, :class => "btn" %></li>
  <li><%= link_to 'Cadastrar centro', new_centro_path, :class => "btn" %></li>
  <li><%= link_to 'Lista de profissionais', usuarios_path, :class => "btn" %></li>
  <li><%= link_to 'Cadastrar profissional', new_usuario_path, :class => "btn" %></li>
</ul>