<h1>Agendas</h1>

<ul class="unstyled list">
  <li><%= link_to 'Lista de agendas', agendas_path, :class => "btn" %></li>
  <li><%= link_to 'Agendar consulta', new_agenda_path, :class => "btn" %></li>
</ul>