<h1>Encerramento</h1>

<ul class="unstyled list">
  <li><%= link_to 'Avaliação clínica de encerramento', encerramento_new_avaliacao_clinica_path, :class => "btn" %></li>
  <li><%= link_to 'EVA de encerramento', encerramento_eva_path, :class => "btn" %></li>
  <li><%= link_to 'SF36 de encerramento', encerramento_sf36_path, :class => "btn" %></li>
  <li><%= link_to 'Exames complementares de encerramento', encerramento_exames_path, :class => "btn" %></li>
</ul>