<h1>Eventos adversos</h1>

<ul class="unstyled list">
  <li><%= link_to 'Registrar eventos adversos', evento_adverso_path, :class => "btn" %></li>
  <li><%= link_to 'Registrar gravidez', gravidez_path, :class => "btn" %></li>
  <li><%= link_to 'Registrar superdose', superdose_path, :class => "btn" %></li>
  <li><%= link_to 'Registrar eventos adversos graves', evento_adverso_grave_path, :class => "btn" %></li>
</ul>