<div class="home">
  <h1>Home</h1>

  <p>Ensaio clínico exploratório aberto randomizado multicêntrico para avaliar eficácia e segurança de esquemas terapêuticos para tratamento de dor neuropática em pacientes com hanseníase
  </p>

  <fieldset>
    <h2>INSTITUIÇÕES ENVOLVIDAS NO PROJETO MULTICÊNTRICO</h2>
    <p>UNIVERSIDADE FEDERAL FLUMINENSE, Faculdade de Medicina, Hospital Universitário Antônio Pedro, Unidade de Pesquisa Clínica Centro coordenador.- Coordenador Científico – Prof. Osvaldo José Moreira do nascimento Lattes: http:/lattes.cnpq.br2844917988504720
    </p>
    <p>FIOCRUZ - Laboratório de Hanseníase do Departamento de Medicina Tropical do Instituto Oswaldo Cruz (IOC) – Centro coparticipante.- Coordenador Científico – Dra. Euzenir SarnoLattes:  http:/lattes.cnpq.br3330957069068672
    </p>
    <p>UNIVERSIDADE DE SÃO PAULO – Faculdade de Medicina de Ribeirão Preto - Departamento de neurociências e ciências do comportamento - Centro coparticipante.- Coordenador Científico – Prof. Wilson Marques JúniorLattes: http:/lattes.cnpq.br1453957198527855
    </p>
  </fieldset>
</div>