<h1>Pré-Seleção</h1>

<ul class="unstyled list">
  <li><%= link_to 'Lista de voluntários', voluntarios_path, :class => "btn" %></li>
  <li><%= link_to 'Cadastrar voluntário', new_voluntario_path, :class => "btn" %></li>
  <li><%= link_to 'Lista de agendas', agendas_path, :class => "btn" %></li>
  <li><%= link_to 'Agendar consulta', new_agenda_path, :class => "btn" %></li>
</ul>