<div class="page-header">
  <h1>Sobre o Dorneuro</h1>
</div>

<p class="desc_princ">Ensaio clínico exploratório aberto randomizado multicêntrico para avaliar eficácia e segurança de esquemas terapêuticos para tratamento de dor neuropática em pacientes com hanseníase.</p>

<p class="desc_princ">Universidade Federal Fluminense.</p>

<p class="desc_princ">Unidade de Pesquisa Clínica UFF - Neuro UPC.</p>
